/* servicios.css */

/* Estructura principal */
.services-section {
    padding: 40px 220px;
    background-color: #f7f7f7;
    /* Color gris muy claro */
}

.services-title {
    margin-bottom: 40px;
}

.services-title h1 {
    font-size: 4.5rem;
    color: #333;
}

/* Contenido de los servicios */
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 20px;
    justify-items: center;
    /* Asegurar que todo esté centrado */
}

.service-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    /* Aumentar padding */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Sombra más suave */
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    /* Espacio extra entre tarjetas */
    text-align: center;
    /* Centrar el contenido dentro de las tarjetas */
}

.service-container:hover {
    transform: translateY(10px);
}

/* Estilo de los textos */
.service-container h3 {
    color: #1d3557;
    margin-bottom: 10px;
}

.service-container p {
    color: #666;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    /* Eliminar viñetas */
    padding: 0;
    margin-left: 0;
    color: #666;
}

ul li {
    margin-bottom: 8px;
}

/* Iconos */
.icon {
    font-size: 40px;
    color: #1d3557;
    margin-bottom: 20px;
    /* Aumentar espacio debajo del icono */
}

/* Estilo del footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.footer h4 {
    margin: 0;
}

.footer-text {
    font-size: 0.9rem;
}

/* Adaptabilidad para dispositivos móviles */
@media (max-width: 768px) {
    .services-section {
        padding: 30px 10px;
    }

    .services-title h1 {
        font-size: 2rem;
    }

    .services-content {
        grid-template-columns: 1fr;
        gap: 15px;
        /* Ajustar el espacio entre las tarjetas en móviles */
    }

    .service-container {
        margin-bottom: 20px;
        /* Menos margen entre tarjetas en pantallas pequeñas */
    }
}