@model PrivateInvestigationTechnology.Models.Caso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CadenaCustodia" class="control-label"></label>
                <input asp-for="CadenaCustodia" class="form-control" />
                <span asp-validation-for="CadenaCustodia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestigacionExtorsion" class="control-label"></label>
                <input asp-for="InvestigacionExtorsion" class="form-control" />
                <span asp-validation-for="InvestigacionExtorsion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudiosSeguridad" class="control-label"></label>
                <input asp-for="EstudiosSeguridad" class="form-control" />
                <span asp-validation-for="EstudiosSeguridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestigacionInfidelidades" class="control-label"></label>
                <input asp-for="InvestigacionInfidelidades" class="form-control" />
                <span asp-validation-for="InvestigacionInfidelidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestigacionRobosEmpresariales" class="control-label"></label>
                <input asp-for="InvestigacionRobosEmpresariales" class="form-control" />
                <span asp-validation-for="InvestigacionRobosEmpresariales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antecedentes" class="control-label"></label>
                <input asp-for="Antecedentes" class="form-control" />
                <span asp-validation-for="Antecedentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecuperacionVehiculos" class="control-label"></label>
                <input asp-for="RecuperacionVehiculos" class="form-control" />
                <span asp-validation-for="RecuperacionVehiculos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDetective" class="control-label"></label>
                <select asp-for="IdDetective" class ="form-control" asp-items="ViewBag.IdDetective"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
