@model _17.PrivateInvestigationTechnology_PTC.Models.Formulario

<h2>Confirmación de Solicitud</h2>
<p>Gracias, @Model.FullName, hemos recibido tu solicitud con la siguiente descripción:</p>
<p>@Model.Descripcion</p>
<p>Te contactaremos a través de tu correo electrónico: @Model.Email</p>
