@model _17.PrivateInvestigationTechnology_PTC.Models.Administrador

@{
    ViewData["Title"] = "Eliminar Administrador";
}

<h2>Eliminar Administrador</h2>

<h3>¿Está seguro de que desea eliminar a este administrador?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Número de Identidad</dt>
        <dd class="col-sm-10">@Model.NumeroIdentidad</dd>

        <dt class="col-sm-2">Número de Celular</dt>
        <dd class="col-sm-10">@Model.NumeroCelular</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
