.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    display: flex;
    background: linear-gradient(to right, #ffffff, #ffffff);
    justify-content: space-between;
    padding: 32px;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    opacity: 0;
    animation: fadeIn 1s forwards 0.5s; /* Animación de aparición suave */
}

.title {
    color: #00113d;
    margin-bottom: 24px;
    opacity: 0;
    animation: fadeIn 1s forwards 1s; /* Animación de aparición suave */
}

.submit-button {
    margin-top: 24px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    background-color: #03a7ff;
    transform: scale(1.05); /* Efecto de expansión al pasar el mouse */
}

.instructions-container {
    flex-grow: 1;
    padding: 32px;
    color: #000000;
    background: rgba(255, 255, 255, 0.869);
    border-radius: 16px;
    margin-left: 16px;
    opacity: 0;
    animation: fadeIn 1s forwards 1.5s; /* Animación de aparición suave */
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.footer-text {
    margin-top: 16px;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
