.detectives-section {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(127, 255, 212, 0.274);
}

.detectives-title h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}

.detectives-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.detective-box {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.detective-box:hover {
    transform: translateY(-5px);
}

.detective-box h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.detective-box p {
    font-size: 1em;
    color: #555;
}

.carousel {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    margin-top: 90px; /* Ajusta el margen superior según sea necesario */
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}
