@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/Home/Index" class="navbar-link">PTC</a>
            <button class="custom-navbar-toggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div>
                <ul>
                    <li>
                        <a href="/Home/Index">Inicio</a>
                    </li>
                    <li>
                        <a href="/Home/Privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="/Home/Privacy">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

